.classify-container {
    display: flex;
    margin: 0 auto;
    gap: 3%;
    width: 90%;
    margin-top: 2%;
    margin-bottom: 3%;
    .classify-left {
        width: 20%;
        display: flex;
        flex-direction: column;
        .classify-left__gift {
            background-color: rgb(251, 246, 246);
            border-radius: 5px;
            padding: 10px 5px;
            .gift-title {
                padding-left: 5%;
                font-size: 16px;
                font-weight: 500;
                margin-bottom: 2%;
            }
            .gift-list {
                display: flex;
                flex-direction: column;
                padding-left: 10%;
                font-size: 14px;
                .gift-name {
                    margin-bottom: 3%;
                    cursor: pointer;
                }
                .active {
                    color: #f9758f;
                    font-weight: 500;
                }
                .gift-name:hover {
                    color: #f9758f;
                }
                .gift-name:active {
                    color: #f9758f;
                    font-weight: 500;
                }
            }
        }
        .classify-left__search-brand {
            padding: 10% 0;
            .search-input {
                position: relative;
                .search-bar {
                    width: 100%;
                    height: 40px;
                    border-radius: 8px;
                    border: 1px solid rgb(195, 185, 185);
                    color: #000204;
                    font-size: 15px;
                    font-weight: 300;
                    outline: none;
                    padding-left: 12%;
                }
                .fa-search {
                    position: absolute;
                    left: 9px;
                    top: 13px;
                    color: #cbc4c4;
                }
            }

            .list-brand {
                margin-top: 5%;
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 250px;
                padding-top: 5%;
                gap: 5%;
                overflow-y: none;
                .brand {
                    padding-left: 5%;
                    margin-bottom: 3%;
                    display: flex;
                    align-items: center;
                    gap: 3%;
                    .brand-name {
                        font-size: 14px;
                    }
                }
                .mobile {
                    display: none;
                }
            }
        }
        .break-line {
            border: 1px solid rgb(240, 234, 234);
            box-shadow: 0 1px 1px rgb(240, 234, 234);
        }
        .classify-left__search-price {
            .title {
                margin-top: 7%;
                margin-bottom: 4%;
                font-size: 14px;
                font-weight: 500;
            }
            .price-list {
                display: flex;
                flex-direction: column;
                .price {
                    padding-left: 5%;
                    margin-bottom: 3%;
                    display: flex;
                    align-items: center;
                    gap: 3%;
                }
                .price-name {
                    font-size: 14px;
                }
            }
            .range-price {
                margin-top: 3%;
                display: flex;

                .min-price {
                    width: 42.5%;
                    position: relative;
                    input {
                        width: 100%;
                        height: 55px;
                        border-radius: 5px;
                        padding-top: 12%;
                        text-align: center;
                        color: #777777;
                        border: 1px solid #777777;
                        outline: none;
                    }
                    .min {
                        position: absolute;
                        font-size: 13px;
                        left: 13px;
                        top: 3px;
                    }
                }
                .hyphen {
                    border: 1px solid #777777;
                    height: 0;
                    display: flex;
                    align-self: center;
                    width: 5%;
                    margin: 0 5%;
                }
                .max-price {
                    width: 42.5%;
                    position: relative;
                    input {
                        width: 100%;
                        height: 55px;
                        border-radius: 5px;
                        padding-top: 12%;
                        text-align: center;
                        color: #777777;
                        border: 1px solid #777777;
                        outline: none;
                    }
                    .max {
                        position: absolute;
                        font-size: 13px;
                        left: 22px;
                        top: 3px;
                    }
                }
            }
            .submit {
                margin-top: 7%;
                width: 100%;
                button {
                    width: 100%;
                    padding: 3% 0;
                    border-radius: 8px;
                    background-color: #151313;
                    outline: none;
                    border: 0px;
                    color: white;
                }
            }
        }
        .classify-left__promo {
            margin-top: 10%;
            img {
                height: 100%;
                width: 100%;
            }
        }
    }
    .classify-right {
        display: flex;
        flex-direction: column;
        width: 85%;
        height: 100%;
        gap: 2%;
        padding-left: 50px;
        .pagination-bar {
            margin: 0 auto;
        }
        .classify-right-list {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            .list-item__item {
                display: flex;
                flex-direction: column;
                gap: 5px;
                width: 23%;
                margin-bottom: 4%;
                .list-item__item-image {
                    display: flex;
                    height: 60%;
                    width: 100%;
                    justify-content: center;
                    cursor: pointer;
                    .image {
                        width: 100%;
                        height: 100%;
                    }
                }
                .list-item__content {
                    height: 40%;
                    display: flex;
                    flex-direction: column;
                    .list-item__item-brand {
                        color: #242527;
                        font-size: 16px;
                        cursor: pointer;
                    }
                    .list-item__item-name {
                        color: #3e4048;
                        font-size: 13px;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        word-break: break-word;
                        cursor: pointer;
                    }
                    .list-item__item-brand:hover,
                    .list-item__item-name:hover {
                        color: #f9758f;
                    }
                    .list-item__item-rating {
                        margin-top: auto;
                        display: flex;
                        font-size: 13px;
                    }
                    .list-item__item-price {
                        font-size: 17px;
                        font-weight: 500;
                    }
                }
            }
        }
    }
}

input[type="checkbox"] {
    cursor: pointer;
    appearance: none;
    width: 18px;
    height: 18px;
    border: 0.1em solid black;
    border-radius: 3px;
    display: grid;
    place-content: center;
}
input[type="checkbox"]::before {
    content: "";
    width: 18px;
    height: 18px;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em #f9758f;
}
input[type="checkbox"]:checked::before {
    transform: scale(0.6);
}

/* xl */
@media (max-width: 1280px) {
    .classify-container {
        .classify-left {
            .classify-left__search-brand {
                .search-input {
                    .search-bar {
                        font-size: 12px;
                        padding-left: 30px;
                    }
                }
            }
            .classify-left__search-price .range-price {
            }
        }
        .classify-right {
            .classify-right-list {
                gap: 2%;
                .list-item__item {
                    gap: 5px;
                    width: 30%;

                    .list-item__content {
                        .list-item__item-name {
                            padding-bottom: 5px;
                        }
                    }
                }
            }
        }
    }
}

/* lg */
@media (max-width: 1024px) {
    .classify-container {
        .classify-left {
            width: 30%;
        }
        .classify-right {
            .classify-right-list {
                gap: 2%;
                .list-item__item {
                    gap: 5px;
                    width: 30%;

                    .list-item__content {
                        .list-item__item-name {
                            padding-bottom: 20px;
                        }
                    }
                }
            }
        }
    }
}
/* md */
@media (max-width: 930px) {
    .classify-container {
        .classify-left {
            width: 35%;
        }
        .classify-right {
            .classify-right-list {
                gap: 4%;
                .list-item__item {
                    gap: 5px;
                    width: 45%;

                    .list-item__content {
                        .list-item__item-name {
                            padding-bottom: 5px;
                        }
                    }
                }
            }
        }
    }
}

/* sm */
@media (max-width: 700px) {
    .classify-container {
        .classify-left {
            width: 55%;
        }
        .classify-right {
            .classify-right-list {
                gap: 4%;
                .list-item__item {
                    gap: 5px;
                    width: 80%;
                    margin: 0 auto;
                    .list-item__content {
                        .list-item__item-name {
                            padding-bottom: 5px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 475px) {
    .classify-container {
        display: flex;
        flex-direction: column;
        gap: 3%;
        width: 100%;
        margin-top: 2%;
        margin-bottom: 3%;
        .classify-left {
            width: 100%;
            display: flex;
            flex-direction: column;
            .classify-left__gift {
                background-color: rgb(251, 246, 246);
                border-radius: 5px;
                padding: 10px 5px;
                .gift-title {
                    padding-left: 5%;
                    font-size: 16px;
                    font-weight: 500;
                    margin-bottom: 2%;
                    text-align: center;
                }
                .gift-list {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    font-size: 14px;
                    padding-left: 0;
                    gap: 13px;
                }
            }
            .classify-left__search-brand {
                padding: 0 0;
                .search-input {
                    display: none;
                }
                .list-brand {
                    margin-top: 0px;
                    display: flex;
                    flex-direction: row !important;
                    width: 100%;
                    height: 120px;
                    .desktop {
                        display: none;
                    }
                    .mobile {
                        display: flex;
                        flex-wrap: wrap;
                        .brand {
                            padding-left: 5%;
                            margin-bottom: 3%;
                            display: flex;
                            align-items: center;
                            gap: 3%;
                            position: "";
                            .brand-name {
                                font-size: 14px;
                            }
                        }
                    }
                }
            }
            .break-line {
                border: 1px solid rgb(240, 234, 234);
                box-shadow: 0 0px 0px rgb(240, 234, 234);
            }
            .classify-left__search-price {
                display: none;
            }
            .classify-left__promo {
                display: none;
            }
        }
        .classify-right {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            gap: 2%;
            padding-left: 0px;
            .pagination-bar {
                margin: 0 auto;
            }
            .classify-right-list {
                display: flex;
                flex-wrap: wrap;
                gap: 10px;
                width: 100%;
                .list-item__item {
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    width: 45%;
                    margin-bottom: 4%;
                    .list-item__item-image {
                        display: flex;
                        height: 60%;
                        width: 100%;
                        justify-content: center;
                        cursor: pointer;
                        .image {
                            width: 100%;
                            height: 100%;
                        }
                    }
                    .list-item__content {
                        height: 40%;
                        display: flex;
                        flex-direction: column;
                        .list-item__item-brand {
                            color: #242527;
                            font-size: 16px;
                            cursor: pointer;
                        }
                        .list-item__item-name {
                            color: #3e4048;
                            font-size: 13px;
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            word-break: break-word;
                            cursor: pointer;
                        }
                        .list-item__item-brand:hover,
                        .list-item__item-name:hover {
                            color: #f9758f;
                        }
                        .list-item__item-rating {
                            margin-top: auto;
                            display: flex;
                            font-size: 12px;
                        }
                        .list-item__item-price {
                            font-size: 16px;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 415px) {
    .classify-container
        .classify-right
        .classify-right-list
        .list-item__item
        .list-item__content
        .list-item__item-name {
    }
}
