.upload-item-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: "CircularStd", sans-serif;
    padding: 30px 20px 40px 10px;
    .employees-header {
        display: flex;
        flex-direction: column;
        .bread-crumb {
            display: flex;
            color: #6c757d;
            font-weight: 500;
            text-align: left;
            .redirect-all-item {
                color: black;
                cursor: pointer;
            }
            .breadcrumb-history {
                cursor: pointer;
                color: #212529;
            }
        }
    }
    .form-add-item {
        width: 80%;
        margin-left: 10%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 2%;
        .input-form {
            width: 49%;
            margin-bottom: 5px;
            .input-title {
                display: flex;
                justify-content: space-between;
                .formik-error {
                    color: red;
                    font-style: italic;
                    font-weight: 300;
                    font-size: 14px;
                }
            }
        }
        .generated {
            background-color: rgb(247, 247, 247);
        }
        .end-form {
            width: 49%;
            text-align: end;
            .button-custom {
                margin-top: 9px;
                border-radius: 5px;
                border: 1px solid #ededed;
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
                width: 100%;
                min-height: 50px;
                background: #ff9b44;
                color: white;
                font-size: 18px;
                font-weight: 500;
            }
        }
    }
}
