@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@700&family=Inter:wght@500&family=Nunito+Sans:opsz,wght@6..12,500&display=swap");

.customer-support-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    font-family: "CircularStd", sans-serif;
    padding: 10px -5px 0px 5px;
    // background: rgb(245, 246, 246);
    height: 100vh;
    font-family: "Inter", sans-serif;
    .title {
        font-size: 32px;
        font-weight: 500;
        padding-top: 10px;
        color: #3e4048;
        // font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
        margin: 0 auto;
        text-align: center;
        font-weight: bold;
    }
    .sub-title {
        font-size: 16px;
        width: 40%;
        text-align: center;
        margin: 0 auto;
        font-weight: normal;
        color: #39393a;
    }
    .detail {
        font-size: 14px;
        width: 50%;
        margin: 0 auto;
        font-weight: normal;
        border-bottom: 1px solid #cfd0d3;
        color: #535458;
        margin-top: 30px;
        margin-bottom: 15px;
    }
    .form-add-item {
        width: 65%;
        margin: 0 auto;

        display: column;
        justify-content: space-between;
        flex-wrap: wrap;

        .input-form {
            width: 49%;
            margin: 3px auto;
            font-size: 14px;
            .input-title {
                display: flex;
                justify-content: space-between;
                .formik-error {
                    color: red;
                    font-style: italic;
                    font-weight: 300;
                    font-size: 13px;
                }
            }
            .description {
                height: 120px;
            }
            input {
                font-size: 15px;
            }
        }
        .generated {
            background-color: rgb(247, 247, 247);
        }
        .end-form {
            width: 20%;
            text-align: end;
            margin: 0 auto;
            .button-custom {
                margin-top: 9px;
                border-radius: 8px;
                border: 1px solid #ededed;
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
                width: 100%;
                min-height: 50px;
                background: rgb(235, 86, 116);
                color: rgb(235, 230, 230);
                font-size: 18px;
                font-weight: 500;
            }
        }
    }
}
