.navbar-container {
    height: 40px;
    display: flex;
    align-items: center;
    font-family:
        Nunito Sans,
        sans-serif;
    border-radius: 3px;
    border: 1px solid #ededed;
    box-shadow: 0 3px 3px rgba(162, 161, 161, 0.2);
    a {
        color: black;
        text-decoration: none;
    }

    .navbar-left {
        padding-left: 6%;
        display: flex;
        width: 65%;
        font-size: 14px;
        .navbar-left__menu {
            display: flex;
            align-items: center;
            border-right: 1px solid black;
            padding-right: 15px;
            gap: 5px;
            cursor: pointer;
            .img {
                display: flex;
                align-items: center;
                font-size: 16px;
            }
        }
        .active {
            color: #f9758f;
        }
        .navbar-left__menu:hover {
            color: #f9758f;
            transition: all 0.2s ease;
        }
        .navbar-left__submenu {
            display: flex;
            gap: 20px;
            padding-left: 15px;
            .navbar-left__submenu__item {
                display: flex;
                align-items: center;
                gap: 3px;
                cursor: pointer;
                a {
                    display: flex;
                    gap: 2px;
                }
                .active {
                    color: #f9758f;
                }
                a:hover {
                    color: #f9758f;
                }
                .img {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
                .img-title {
                    text-align: center;
                    padding-top: 2px;
                    font-weight: 500;
                }
            }
            .navbar-left__submenu__item:hover {
                color: #f9758f;
            }
        }
    }
    .navbar-right {
        padding-right: 6%;
        width: 35%;
        display: flex;
        text-align: center;
        justify-content: flex-end;
        font-size: 14px;
        .title {
            text-align: center;
            padding-top: 2px;
            cursor: pointer;
            border-right: 1px solid black;
            padding-right: 15px;
            margin-right: 10px;
        }
        .active {
            color: #f9758f;
        }
        .location {
            display: flex;
            font-weight: 600;
            gap: 3px;
            cursor: pointer;
            .img {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            .img-title {
                text-align: center;
                padding-top: 2px;
                font-weight: 600;
            }
        }
        .title:hover,
        .location:hover {
            color: #f9758f;
        }
    }
    .navbar__bars {
        display: none;
        cursor: pointer;
    }
    .navbar-mobile {
        display: none;
    }
}

/* xl */
@media (max-width: 1280px) {
    .navbar-container {
        gap: 2%;
        .navbar-left {
            width: 65%;
            padding-left: 5px;
            font-size: 14px;
            .navbar-left__submenu {
                gap: 10px;
            }
            .img {
                display: flex;
                align-items: center;
                font-size: 13px !important;
                padding-bottom: 1px;
            }
        }
        .navbar-right {
            width: 35%;
            padding-right: 25px;
            font-size: 14px;
        }
    }
}

/* lg */
@media (max-width: 1024px) {
    .navbar-container {
        gap: 2%;
        .navbar-left {
            width: 65%;
            padding-left: 5px;
            font-size: 12px;
            .navbar-left__submenu {
                gap: 10px;
            }
            .img {
                display: flex;
                align-items: center;
                font-size: 13px !important;
                padding-bottom: 1px;
            }
        }
        .navbar-right {
            width: 35%;
            padding-right: 25px;
            font-size: 12px;
        }
    }
}

/* md */
@media (max-width: 920px) {
    .navbar-container {
        display: flex;
        flex-direction: column;
        .navbar-left {
            display: none;
        }
        .navbar-right {
            display: none;
        }
        .navbar__bars {
            display: block;
            margin: 0 auto;
            font-size: 20px;
            padding-top: 5px;
        }
        .nav-show:checked ~ .navbar-mobile {
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            z-index: 200;
            background-color: white;
            padding: 10px;
            border-radius: 3px;
            box-shadow: 0 3px 3px rgba(162, 161, 161, 0.2);
            .navbar-mobile__submenu__item {
                width: 25%;
                display: flex;
                gap: 1%;
                padding-top: 10px;
                a {
                    display: flex;
                    gap: 3px;
                }
                a:hover {
                    color: #f9758f;
                }
            }
        }
    }
}

@media (max-width: 735px) {
    .navbar-container .nav-show:checked ~ .navbar-mobile {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        white-space: nowrap;
    }
    .navbar-container .nav-show:checked ~ .navbar-mobile .navbar-mobile__submenu__item {
        padding-right: 25px;
        width: fit-content;
    }
}

/* sm */
@media (max-width: 640px) {
    .navbar-container .nav-show:checked ~ .navbar-mobile .navbar-mobile__submenu__item {
        padding-right: 15px;
        width: fit-content;
    }
}
@media (max-width: 600px) {
    .navbar-container .nav-show:checked ~ .navbar-mobile {
        width: 100%;
        height: 250px;
        display: flex;
        flex-wrap: wrap;
        white-space: nowrap;
        justify-content: center;
    }
    .navbar-mobile::-webkit-scrollbar {
        display: none;
    }
    .navbar-container .nav-show:checked ~ .navbar-mobile .navbar-mobile__submenu__item {
        padding-right: 15px;
        width: fit-content;
    }
}
/* xs */
@media (max-width: 475px) {
}
