@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Toastify__toast-container--top-right {
  top: 6em !important;
  right: 1em;
}
.Toastify__toast-theme--colored.Toastify__toast--success {
}
.Toastify__toast-theme--light {
  background-color: rgb(231, 204, 255) !important;
  color: black !important;
}
