.main-page-container {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100%;
    .main-page__header {
    }
    .main-page__navbar {
    }
    .main-page__content {
        // background: rgb(245, 246, 246);
    }
    .main-page__footer {
        width: 100%;
        margin-top: auto;
    }
}
