.main-page-container {
    display: flex;
    flex-direction: column;
    position: relative;
    .main-page__header {
    }
    .main-page__navbar {
    }
    .main-page__content {
    }
    .main-page__footer {
        width: 100%;
    }
}
