.list-item-container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    margin: 0 auto;
    padding: 20px 20px;
    .list-item__title {
        color: #202020;
        font-size: 22px;
        text-transform: capitalize;
    }
    .box {
        display: flex;
        flex-wrap: wrap;
        gap: 25px;
        justify-content: space-evenly;
        .list-item__item {
            display: flex;
            flex-direction: column;
            gap: 5px;
            width: 20%;
            margin-bottom: 10px;
            .list-item__item-image {
                display: flex;
                height: 60%;
                width: 100%;
                justify-content: center;
                .image {
                    width: 100%;
                    height: 100%;
                }
            }
            .list-item__content {
                height: 40%;
                display: flex;
                flex-direction: column;
                .list-item__item-brand {
                    color: #242527;
                    font-size: 16px;
                }
                .list-item__item-name {
                    color: #3e4048;
                    font-size: 13px;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    word-break: break-word;
                    margin-bottom: 5px;
                }
                .list-item__item-rating {
                    margin-top: auto;
                    display: flex;
                    font-size: 13px;
                }
                .list-item__item-price {
                    font-size: 20px;
                    font-weight: 500;
                }
            }
        }
    }
}
.slick-slider {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
}

//
.slick-slide > div {
    padding: 0 35px;
}
.list-item__item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 20%;
    margin-bottom: 10px;
    .list-item__item-image {
        display: flex;
        height: 60%;
        width: 100%;
        justify-content: center;
        cursor: pointer;
        .image {
            width: 100%;
            height: 100%;
        }
    }
    .list-item__content {
        height: 40%;
        display: flex;
        flex-direction: column;
        .list-item__item-brand {
            color: #242527;
            font-size: 16px;
            cursor: pointer;
        }
        .list-item__item-name {
            color: #3e4048;
            font-size: 13px;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            word-break: break-word;
            margin-bottom: 5px;
            cursor: pointer;
        }
        .list-item__item-brand:hover,
        .list-item__item-name:hover {
            color: #f9758f;
        }
        .list-item__item-rating {
            margin-top: auto;
            display: flex;
            font-size: 13px;
        }
        .list-item__item-price {
            font-size: 20px;
            font-weight: 500;
        }
    }
}

.list-item__title {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 35px;
    margin: 0 auto;
    padding: 20px 20px;
    color: #202020;
    font-size: 22px;
    text-transform: capitalize;
    font-weight: 500;
    .view-all {
        font-size: 14px;
        font-weight: 500;
        color: rgb(146, 140, 140);
        cursor: pointer;
    }
    .view-all:hover {
        color: #f9758f;
    }
}
.brand-title {
    padding-top: 50px;
}
.popular-brand {
    display: grid;
    width: 80%;
    margin: 0px auto;
    margin-bottom: 50px;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 100px;
    .brand {
    }
}
.popular-program {
    display: grid;
    width: 80%;
    margin: 0px auto;
    margin-bottom: 50px;
    text-align: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 450;
    gap: 20px;
    .program {
        img {
            width: 100%;
            height: 100%;
            border-radius: 15px;
        }
    }
}
