.detail-item-container {
    display: flex;
    flex-direction: column;
    gap: 100px;
    .detail-item__top {
        display: flex;
        width: 80%;
        margin: 0 auto;
        height: 100%;
        .detail-top__image {
            width: 55%;
            img {
                width: 90%;
                text-align: center;
                padding: 5% 5%;
            }
        }
        .detail-top__info {
            margin-top: 1%;
            width: 45%;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 2%;
            .brand {
                color: #1887db;
                font-size: 20px;
                font-weight: 500;
                cursor: pointer;
            }
            .name {
                font-size: 24px;
                font-weight: 500;
            }
            .rating {
                font-size: 14px;
                display: flex;
                align-items: center;
                gap: 2%;
                .review {
                    text-decoration: underline;
                    color: #ec6f88;
                }

                .line {
                    height: 65%;
                    border: 1px solid black;
                }
                .lover {
                    color: #777777;
                }
            }
            .price {
                font-size: 28px;
                font-weight: 500;
                padding: 2% 0;
            }
            .coupon {
                background-color: rgb(229, 247, 252);
                border-radius: 5px;
                font-size: 16px;
                padding: 1% 1%;
            }
            .policy {
                display: grid;
                grid-template-columns: 37% 33% 25%;
                border: 1px solid #f3f0f0;
                padding: 2% 0;
                border-radius: 8px;
                margin-top: 4%;
                margin-bottom: 2%;
                .box {
                    text-align: center;
                    padding: 0 7%;
                    .image {
                        font-size: 30px;
                    }
                    .description {
                        font-size: 15px;
                        color: #777777;
                    }
                }
            }
            .address {
                display: flex;
                align-items: center;
                height: 50px;
                border: 1px solid #f3f0f0;
                border-radius: 8px;
                font-size: 18px;
                .icon {
                    font-size: 25px;
                    margin-left: 1%;
                    padding-bottom: 7px;
                }
                .locate {
                    color: #777777;
                    font-size: 17px;
                    margin-left: 1%;
                    align-items: center;
                }
                .caret {
                    margin-left: auto;
                    font-size: 25px;
                }
            }
            .submit {
                display: flex;
                gap: 2%;
                margin-top: 3%;

                .add-to-cart {
                    width: 70%;
                    font-size: 20px;
                    button {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        gap: 1%;
                        background-color: rgb(254, 44, 109);
                        color: white;
                        border: 0px;
                        border-radius: 8px;
                        height: 100%;
                        padding: 2% 0;
                        .icon {
                            padding-bottom: 1%;
                            font-size: 25px !important;
                        }
                    }
                    // button:hover {
                    //     opacity: 0.85;
                    // }
                    button:active {
                        opacity: 0.85;
                        font-size: 21px;
                        transition: all 0.1s ease;
                    }
                }
                .like-item {
                    width: 30%;
                    font-size: 20px;
                    button {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        height: 100%;
                        padding: 2% 0;
                        gap: 1%;
                        border: 0px;
                        border-radius: 8px;
                        .icon {
                            padding-bottom: 1%;
                            font-size: 25px !important;
                        }
                    }
                }
            }
        }
    }

    .detail-item__mid {
        display: flex;
        flex-direction: column;
        .detail-mid__info {
            .title {
            }
            .how-to-use {
            }
            .ingredient {
            }
        }
        .detail-mid__relevant {
        }
    }

    .detail-item__bottom {
        display: flex;
        .detail-bottom__comment {
            border: 1px solid blue;
        }
        .detail-bottom__rating {
            border: 1px solid blue;
        }
    }
}
